main{
    width: 60%;
    margin: 100px auto;
    border: 3px solid;
    padding: 60px ;
}
/* local git command */
/* 
git init 
git add.
git commit-m"cmt,much etc"
*/

/* global git command */
/* 
git branch-m main
git remote add origin https://github.com/SrabonOSD/flower.git
git push -u origin main
*/

/* local git command */
/* 
git add .
git commit-m"cmt,much etc"
*/
/* git push */
section{
    background-color: green;
    padding: 50px;
    border-radius: 20px;
    color: #fff;
}